{% extends 'blog/base.html' %}
{% block content%}
<main>
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="card mb-4 box-shadow">
                        <div class="card">
                            {% if blog.preview %}
                            <img src="{{ blog.preview.url }}" class="card-img-top"
                                 alt="Не удалось загрузить изображение">
                            {% else %}
                            <img src="..." class="card-img-top" alt="Изображение отсутствует">
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card-header">
                        <h3 class="my-0 font-weight-normal">{{ object.title }}</h3>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled text-start">
                            <li>{{ object.content }}</li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{% url 'blog:blog_list' %}" class="btn btn-outline-secondary">Назад</a>
                                <a href="{% url 'blog:blog_update' blog.pk %}" class="btn btn-outline-secondary">Редактировать</a>
                                <a href="{% url 'blog:blog_delete' blog.pk %}" class="btn btn-outline-danger">Удалить</a>
                            </div>
                        </div>
                        <small class="text-body-secondary">{{ object.created_at }}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}