{% extends 'blog/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col py-1">
            <form class="row" method="post" enctype="multipart/form-data">
                <div class="card">
                    <div class="card-header">
                            <h3 class="my-0 font-weight-normal">Вы действительно хотите удалить пост "{{ blog.title }}"?</h3>
                        </div>
                    <div class="card-body">
                        {% csrf_token %}
                    </div>
                    <a href="{% url 'blog:blog_list' %}" class="btn btn-outline-secondary">Нет! Я нечаянно! Отменить</a>
                    <button type="submit" class="btn btn-dark">
                        Да! Удалить!
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}